.dashicons {
    &-tamtam-logo {
        background: url('../assets/images/tamtam-dark-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}



@import './admin_globals';
@import '../helpers/variables';

html {
    &.wp-toolbar.interface-interface-skeleton__html-container {
        font-size: 10px;
    }
}