@use "../helpers/variables" as vars;


.about-us-page {
    overflow: hidden;

    &__hero {
        margin-bottom: 10rem;
        padding: 14rem vars.$sidePadding 0 vars.$sidePadding;

        @media (max-width: 768px) {
            padding: 5rem vars.$sidePadding 0 vars.$sidePadding;
            display: block;
        }

        &__title {
            font-size: 6.4rem;
            font-weight: 500;
            color: #111;
            padding-bottom: 1rem;
            width: fit-content;
            width: -moz-fit-content;
            position: relative;

            @media (max-width: 768px) {
                font-size: 2.6rem;
                padding-right: 0;
                max-width: 100%;
                width: fit-content;
                width: -moz-fit-content;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 90%;
                height: 0.6rem;
                background: vars.$red;

                @media (max-width: 768px) {
                    height: 3px;
                    width: 80%;
                }
            }
        }
    }

    &__content {
        &__section {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: stretch;
            justify-content: space-between;
            margin-bottom: 17rem;
            padding-left: vars.$sidePadding;
            padding-right: vars.$sidePadding;

            @media (max-width:768px) {
                margin-bottom: 2.5rem;
                justify-content: flex-start;
            }

            &:nth-of-type(odd) {
                flex-direction: row-reverse;

                @media (max-width:768px) {
                    flex-direction: column;
                }
            }

            &:nth-of-type(even) {

                .about-us-page__content__section__smaller-image {
                    right: auto;
                    left: -15%;
                }

                .about-us-page__content__section__text__description {
                    padding-right: 0;
                    padding-left: 4.5rem;

                    @media (max-width:768px) {
                        padding-left: 0;
                    }
                }

                .about-us-page__content__section__text__title {
                    // padding-right: 4.5rem;
                    padding-left: 4.5rem;

                    @media (max-width:768px) {
                        padding-left: 0;
                    }
                }
            }

            &__image,
            &__text {
                flex: 0 0 50%;
                max-width: 50%;
                width: 50%;
                height: inherit;

                img {
                    border-radius: 10px;
                }
            }

            &__image {
                @media (max-width:768px) {
                    order: 1;
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    margin-bottom: 2.5rem;
                }
            }

            &__text {
                position: relative;

                @media (max-width:768px) {
                    order: 2;
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }

                &__title {
                    font-size: 4.4rem;
                    font-weight: 500;
                    font-family: vars.$spaceG;
                    margin-bottom: 4rem;
                    background: #EEEEEE;
                    padding-right: 3.9rem;
                    position: relative;
                    width: fit-content;
                    width: -moz-fit-content;

                    @media (max-width: 768px) {
                        font-size: 2rem;
                        margin-bottom: 2.5rem;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -250%;
                        height: .6rem;
                        width: 250%;
                        background: vars.$red;
                        z-index: -1;
                    }
                }

                &__description {
                    padding-bottom: 3.6rem;
                    position: relative;
                    padding-right: 4.5rem;

                    @media (max-width:768px) {
                        padding-right: 0;
                    }

                    p {
                        font-size: 2rem;
                        color: #111;

                        @media (max-width: 768px) {
                            font-size: 1.8rem;
                        }

                        &:not(:last-of-type) {
                            margin-bottom: 1.5em;
                        }
                    }
                }
            }


            &__smaller-image {
                position: absolute;
                bottom: -5rem;
                right: -15%;
                max-width: 35rem;
                z-index: 1;

                @media (max-width:1440px) {
                    bottom: -10rem;
                    max-width: 25rem;
                }

                @media (max-width:768px) {
                    display: none;
                }
            }
        }
    }
}