@use "../helpers/variables" as vars;


.brands-archive {
    &__hero {
        padding: 14rem $sidePadding 0 $sidePadding;
        margin-bottom: 3.5rem;

        @media (max-width: 768px) {
            padding: 5rem vars.$sidePadding 0 vars.$sidePadding;
        }

        &__title {
            font-weight: 700;
            font-size: 6.4rem;
            line-height: 1.28;
            position: relative;
            display: block;
            width: fit-content;
            width: -moz-fit-content;

            @media (max-width: 768px) {
                font-size: 2.6rem;
                padding-right: 0;
                max-width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -0.9rem;
                left: 0;
                width: 100%;
                height: 0.6rem;
                background: vars.$red;
                border-radius: 8px;
            }
        }
    }

    &__content {
        padding: 0 $sidePadding;

        &__single {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 7rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.141);

            &__col {
                flex: 0 0 40%;
                max-width: 40%;
                width: 40%;

                @media (max-width: 768px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }

            &__gallery {
                flex: 0 0 55%;
                max-width: 55%;
                width: 55%;

                @media (max-width: 768px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    margin-top: 2rem;
                }

                &__swiper {
                    .swiper-slide {
                        height: 38.3rem;

                        @media (max-width: 768px) {
                            height: 27.5rem;
                        }

                        img {
                            border-radius: 110px 8px 8px 110px;
                            width: calc(100% - 12rem);
                            margin: 0 auto;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            display: block;

                            @media (max-width: 768px) {
                                border-radius: 8px;

                            }
                        }
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        border: 1px solid #D9D9D9;
                        border-radius: 50%;
                        width: 4rem;
                        height: 4rem;
                        z-index: 10;
                        transition: 0.3s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        &:hover {
                            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
                            border-color: #000;
                        }
                    }

                    .swiper-button-prev {
                        left: 0;

                        i {
                            display: block;
                            background: url("../../assets/images/chevron-left.svg");
                            width: 2rem;
                            height: 2rem;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    .swiper-button-next {
                        right: 0;

                        i {
                            display: block;
                            background: url("../../assets/images/chevron-right.svg");
                            width: 2rem;
                            height: 2rem;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }

            &__info {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;

                &__image {
                    height: 4.1rem;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: left center;
                        display: block;
                    }
                }

                &__title {
                    margin-top: 1rem;
                    margin-bottom: 4rem;
                    font-size: 3rem;
                    color: #000;
                }

                &__excerpt {
                    max-width: 48rem;

                    p {
                        font-size: 2rem;
                        color: #000;
                        margin-bottom: 4rem;
                    }
                }

                &__link {
                    display: block;
                    margin-top: auto;
                    width: fit-content;
                    width: -moz-fit-content;
                    color: vars.$red;
                    font-size: 3.6rem;
                    text-decoration: underline;
                }
            }

            &.content-right {
                flex-direction: row-reverse;

                &__gallery {
                    width: 68.9rem;

                    &__swiper {
                        .swiper-slide {

                            img {
                                border-radius: 8px 110px 110px 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}