@use "../helpers/variables" as vars;

.page-template-template-products-page {
    background-color: #EEEEEE;

    .products-page {
        padding-bottom: 18rem;

        &__hero {
            padding-left: $sidePadding;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5.7rem;

            @media (max-width: 768px) {
                position: relative;
                display: block;
                height: 20.2rem;
            }

            &__title {
                font-weight: 700;
                font-size: 6.4rem;
                line-height: 1.28;
                position: relative;

                @media (max-width: 768px) {
                    width: fit-content;
                    width: -moz-fit-content;
                    font-size: 2.6rem;

                    &::before {
                        content: "";
                        position: absolute;
                        left: calc(vars.$sidePadding * -1);
                        top: 0;
                        background-color: #f3f3f3;
                        opacity: .71;
                        width: 100vw;
                        height: calc(100% + 3rem);
                        z-index: -1;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -0.9rem;
                    left: 0;
                    width: 100%;
                    height: 0.6rem;
                    background: vars.$red;
                    border-radius: 8px;

                    &::before {
                        height: 0.3rem;
                    }
                }
            }

            &__image {
                height: 38rem;
                width: 50%;
                border-radius: 0px 0px 0px 45px;
                overflow: hidden;

                @media (max-width: 768px) {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    z-index: -3;
                }
            }
        }

        &__content {
            padding: 0 vars.$sidePadding;

            &-filters {
                &__category {
                    &__title {
                        font-size: 2.8rem;
                        margin-bottom: 3rem;
                    }

                    &__list {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: flex-start;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 5rem;
                        padding-bottom: 5rem;

                        @media (max-width: 768px) {
                            flex-wrap: nowrap;
                            overflow-x: auto;
                        }
                    }

                    &__item {
                        flex: 0 0 16rem;
                        max-width: 16rem;
                        width: 16rem;
                        cursor: pointer;

                        &.active {
                            img {
                                outline: 0.4rem solid vars.$red;
                            }
                        }

                        img {
                            width: 16rem;
                            height: 16rem;
                            overflow: hidden;
                            border-radius: 12px;
                            margin-bottom: 1.4rem;
                        }

                        p {
                            text-align: center;
                            font-size: 2rem;
                            color: #111;
                        }
                    }
                }

                &__brand {
                    padding-top: 3.4rem;
                    border-top: 1px solid rgba(0, 0, 0, 0.6);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.6);

                    &__toggle {
                        color: #111;
                        font-size: 2.8rem;
                        line-height: 1.28;
                        font-weight: 700;
                        margin-bottom: 3rem;
                        position: relative;
                        width: fit-content;
                        width: -moz-fit-content;

                        &::after {
                            // Triangle facing down width 12px height 8px
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -2rem;
                            transform: translateY(-50%);
                            width: 0;
                            height: 0;
                            border-left: 0.6rem solid transparent;
                            border-right: 0.6rem solid transparent;
                            border-top: 0.8rem solid #111;
                            transition: transform 0.3s ease-in-out;
                        }

                        &.active {
                            &::after {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                    }

                    &__list {
                        display: flex;
                        align-content: flex-start;
                        justify-content: flex-start;

                        @media (max-width: 768px) {
                            flex-wrap: nowrap;
                            overflow-x: auto;
                        }

                        &__item {
                            font-weight: 400;
                            font-size: 2.4rem;
                            line-height: 1.3;
                            color: #000000;
                            cursor: pointer;
                            margin-bottom: 2.4rem;
                            padding: 1rem 2.5rem 1rem 1rem;
                            border: 2px solid transparent;
                            border-radius: 12px;

                            &:not(:last-of-type) {
                                margin-right: 2.5rem;
                            }

                            &.active {
                                border-color: vars.$red;
                                position: relative;

                                &::after {
                                    content: "x";
                                    font-size: 1.4rem;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 1rem;
                                    font-weight: 500;
                                }
                            }
                        }

                        .error {
                            text-align: center;
                            color: vars.$red;
                            font-size: 2.4rem;
                            line-height: 1.3;
                            font-weight: 400;
                            width: 100%;
                            margin-bottom: 2.4rem;
                        }
                    }
                }
            }

            &__products {
                padding-top: 5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.6);
                padding-bottom: 13.5rem;
                margin-bottom: 4.8rem;

                &__header {
                    &__title {
                        color: #111;
                        font-size: 2.8rem;
                        line-height: 1.28;
                        font-weight: 700;
                        margin-bottom: 3rem;
                    }
                }

                &__results {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    align-items: flex-start;
                    justify-content: space-between;
                    column-gap: 2.2rem;
                    row-gap: 12rem;
                }

                &__pagination {
                    margin-top: 4.8rem;

                    &__wrapper {
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                    }

                    &__item {
                        padding: 1.2rem 2.4rem;
                        font-size: 2.8rem;
                        color: #222;
                        transition: background 0.3s ease-in-out;
                        font-weight: 600;
                        border-radius: 4px;
                        display: block;

                        @media (max-width: 768px) {
                            font-size: 2.4rem;
                            padding: 0.5rem 1rem;
                        }

                        &:not(:last-of-type) {
                            margin-right: 0.2rem;
                        }

                        &.current {
                            background: vars.$red;
                            color: #fff;
                        }

                        &:hover {
                            &:not(.current) {
                                background: rgba(0, 0, 0, 0.1);
                            }
                        }

                        &--next,
                        &--prev {
                            i {
                                display: block;
                                height: 1.6rem;
                                width: 0.9rem;
                                transition: transform 0.3s ease-in-out;

                            }

                            &:hover {
                                i {
                                    transform: scale(1.4);
                                }
                            }
                        }

                        &--next {
                            margin-left: 1rem;

                            i {
                                background: url('../assets/images/chevron-right.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                        &--prev {
                            margin-right: 1rem;

                            i {
                                background: url('../assets/images/chevron-left.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}