@use "../helpers/variables" as vars;

.page-template-template-products-page {
    background-color: #EEEEEE;

    .products-page {
        padding-bottom: 18rem;

        &__hero {
            padding-left: $sidePadding;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5.7rem;

            @media (max-width: 768px) {
                position: relative;
                display: block;
                height: 20.2rem;
            }

            &__title {
                font-weight: 700;
                font-size: 6.4rem;
                line-height: 1.28;
                position: relative;

                @media (max-width: 768px) {
                    width: fit-content;
                    width: -moz-fit-content;
                    font-size: 2.6rem;

                    &::before {
                        content: "";
                        position: absolute;
                        left: calc(vars.$sidePadding * -1);
                        top: 0;
                        background-color: #f3f3f3;
                        opacity: .71;
                        width: 100vw;
                        height: calc(100% + 3rem);
                        z-index: -1;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -0.9rem;
                    left: 0;
                    width: 100%;
                    height: 0.6rem;
                    background: vars.$red;
                    border-radius: 8px;

                    &::before {
                        height: 0.3rem;
                    }
                }
            }

            &__image {
                height: 38rem;
                width: 50%;
                border-radius: 0px 0px 0px 45px;
                overflow: hidden;

                @media (max-width: 768px) {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    z-index: -3;
                }
            }
        }

        &__content {
            padding: 0 vars.$sidePadding;

            &-filters {
                &__category {
                    &__title {
                        font-size: 2.8rem;
                        margin-bottom: 3rem;
                    }

                    &__list {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: flex-start;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 5rem;
                        padding-bottom: 5rem;

                        @media (max-width: 768px) {
                            flex-wrap: nowrap;
                            overflow-x: auto;
                        }
                    }

                    &__item {
                        flex: 0 0 16rem;
                        max-width: 16rem;
                        width: 16rem;
                        cursor: pointer;

                        &.active {
                            img {
                                outline: 0.4rem solid vars.$red;
                            }
                        }

                        img {
                            width: 16rem;
                            height: 16rem;
                            overflow: hidden;
                            border-radius: 12px;
                            margin-bottom: 1.4rem;
                        }

                        p {
                            text-align: center;
                            font-size: 2rem;
                            color: #111;
                        }
                    }
                }

                &__brand {
                    padding-top: 3.4rem;
                    border-top: 1px solid rgba(0, 0, 0, 0.16);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

                    &__toggle {
                        color: #111;
                        font-size: 2.8rem;
                        line-height: 1.28;
                        font-weight: 700;
                        margin-bottom: 3rem;
                        position: relative;
                        width: fit-content;
                        width: -moz-fit-content;

                        &::after {
                            // Triangle facing down width 12px height 8px
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: -2rem;
                            transform: translateY(-50%);
                            width: 0;
                            height: 0;
                            border-left: 0.6rem solid transparent;
                            border-right: 0.6rem solid transparent;
                            border-top: 0.8rem solid #111;
                            transition: transform 0.3s ease-in-out;
                        }

                        &.active {
                            &::after {
                                transform: translateY(-50%) rotate(180deg);
                            }
                        }
                    }

                    &__list {
                        display: flex;
                        align-content: flex-start;
                        justify-content: flex-start;

                        @media (max-width: 768px) {
                            flex-wrap: nowrap;
                            overflow-x: auto;
                        }

                        &__item {
                            font-weight: 400;
                            font-size: 2.4rem;
                            line-height: 1.3;
                            color: #000000;
                            cursor: pointer;
                            margin-bottom: 2.4rem;
                            padding: 1rem 2.5rem 1rem 1rem;
                            border: 2px solid transparent;
                            border-radius: 12px;

                            &:not(:last-of-type) {
                                margin-right: 2.5rem;
                            }

                            &.active {
                                border-color: vars.$red;
                                position: relative;

                                &::after {
                                    content: "x";
                                    font-size: 1.4rem;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 1rem;
                                    font-weight: 500;
                                }
                            }
                        }

                        .error {
                            text-align: center;
                            color: vars.$red;
                            font-size: 2.4rem;
                            line-height: 1.3;
                            font-weight: 400;
                            width: 100%;
                            margin-bottom: 2.4rem;
                        }
                    }
                }
            }

            &__products {
                padding-top: 5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.14);
                padding-bottom: 13.5rem;
                margin-bottom: 4.8rem;

                @media (max-width: 768px) {
                    padding-bottom: 4rem;
                }

                &__header {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 3rem;

                    @media (max-width: 768px) {
                        display: block;
                    }

                    &__title {
                        color: #111;
                        font-size: 2.8rem;
                        line-height: 1.28;
                        font-weight: 700;
                    }

                    &__actions {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: space-between;
                        flex-wrap: wrap;



                        &__grid-selector {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            flex: 0 0 14rem;
                            max-width: 14rem;
                            width: 14rem;

                            @media (max-width: 768px) {
                                flex: 0 0 100%;
                                max-width: 100%;
                                width: 100%;
                                order: 2;
                                display: none;
                            }

                            &__item {
                                flex: 0 0 33%;
                                max-width: 33%;

                                &.active {
                                    i {
                                        opacity: 0.8;
                                    }
                                }

                                i {
                                    display: block;
                                    width: 1.8rem;
                                    height: 1.8rem;
                                    cursor: pointer;

                                    @media (max-width: 768px) {
                                        margin: 0 auto;
                                    }

                                    &.grid-2x2 {
                                        background: url('../assets/images/grid-2x2.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }

                                    &.grid-3x3 {
                                        background: url('../assets/images/grid-3x3.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }

                                    &.grid-4x4 {
                                        background: url('../assets/images/grid-4x4.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }
                            }
                        }

                        &__sort {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: wrap;

                            @media (max-width: 768px) {
                                order: 1;
                                margin-top: 2rem;
                                margin-bottom: 2rem;
                            }

                            p {
                                font-size: 2.2rem;
                                color: #000;
                                line-height: 1;
                                margin-right: 1.9rem;
                            }

                            select {
                                padding: 0.8rem 2.2rem 0.8rem 1.6rem; // Padding inside the select box
                                border: 1px solid vars.$red;
                                border-radius: 6px;
                                appearance: none;
                                background-color: #eee;
                                font-size: 2.2rem;
                                cursor: pointer;
                                background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2212%22%20height%3D%226%22%20viewBox%3D%220%200%2012%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M10.9586%200.660073C10.8805%200.583747%2010.7756%200.541016%2010.6664%200.541016C10.5571%200.541016%2010.4522%200.583747%2010.3741%200.660073L5.99998%204.92395L1.62673%200.660073C1.5486%200.583746%201.44371%200.541015%201.33448%200.541015C1.22526%200.541015%201.12037%200.583746%201.04223%200.660072C1.00413%200.697169%200.97385%200.741523%200.953173%200.790515C0.932495%200.839507%200.921843%200.892145%200.921843%200.945322C0.921843%200.998499%200.932495%201.05114%200.953173%201.10013C0.97385%201.14912%201.00413%201.19348%201.04223%201.23057L5.69461%205.76482C5.77631%205.84446%205.88589%205.88903%205.99998%205.88903C6.11408%205.88903%206.22366%205.84446%206.30536%205.76482L10.9577%201.23057C10.9958%201.19348%2011.0261%201.14912%2011.0468%201.10013C11.0675%201.05114%2011.0781%200.9985%2011.0781%200.945323C11.0781%200.892146%2011.0675%200.839508%2011.0468%200.790515C11.0261%200.741523%2010.9958%200.697169%2010.9577%200.660073L10.9586%200.660073Z%22%20fill%3D%22black%22%20fill-opacity%3D%220.63%22/%3E%3C/svg%3E");
                                background-repeat: no-repeat;
                                background-position: right 10px center;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }

                &__results {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    align-items: flex-start;
                    justify-content: space-between;
                    column-gap: 2.2rem;
                    row-gap: 12rem;

                    @media (max-width: 768px) {
                        column-gap: 1.2rem;
                        row-gap: 3rem;
                    }

                    .kd-filterable-products-block__results__item {
                        flex: 0 0 calc(100% / (var(--columns)) - 2rem);
                        max-width: calc(100% / (var(--columns)) - 2rem);

                        @media (max-width: 768px) {
                            --columns: 2;
                        }
                    }
                }

                &__pagination {
                    margin-top: 4.8rem;

                    &__wrapper {
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                    }

                    &__item {
                        padding: 1.2rem 2.4rem;
                        font-size: 2.8rem;
                        color: #222;
                        transition: background 0.3s ease-in-out;
                        font-weight: 600;
                        border-radius: 4px;
                        display: block;

                        @media (max-width: 768px) {
                            font-size: 2.4rem;
                            padding: 0.5rem 1rem;
                        }

                        &:not(:last-of-type) {
                            margin-right: 0.2rem;
                        }

                        &.current {
                            background: vars.$red;
                            color: #fff;
                        }

                        &:hover {
                            &:not(.current) {
                                background: rgba(0, 0, 0, 0.1);
                            }
                        }

                        &--next,
                        &--prev {
                            i {
                                display: block;
                                height: 1.6rem;
                                width: 0.9rem;
                                transition: transform 0.3s ease-in-out;

                            }

                            &:hover {
                                i {
                                    transform: scale(1.4);
                                }
                            }
                        }

                        &--next {
                            margin-left: 1rem;

                            i {
                                background: url('../assets/images/chevron-right.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }

                        &--prev {
                            margin-right: 1rem;

                            i {
                                background: url('../assets/images/chevron-left.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}