@use '../../sass/helpers/variables' as vars;


.kd-catalogue-grid-block {
    padding: 7rem vars.$sidePadding 3.5rem vars.$sidePadding;
    margin-bottom: 3.5rem;

    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.141);
    }

    &__brand {
        &__image {
            max-width: 25rem;
            margin-bottom: 1rem;
        }

        &__description {
            font-size: 3.8rem;
            margin-bottom: 3.2rem;
        }
    }

    &__catalogues {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__single {
            flex: 0 0 calc(100% / var(--columns) - 2.5rem);
            max-width: calc(100% / var(--columns) - 2.5rem);
            width: calc(100% / var(--columns) - 2.5rem);
            position: relative;
            height: 54.3rem;
            overflow: hidden;
            border-radius: 8px;

            &.image-height-high {
                height: 80.6rem;
            }

            &.image-height-medium {
                height: 54.3rem;
            }

            &:hover {
                .kd-catalogue-grid-block__catalogues__single__image {
                    transform: scale(1.1);
                }

                .kd-catalogue-grid-block__catalogues__single__content {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, 0.73);
                }
            }

            &__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.3s;
            }

            &__content {
                width: 100%;
                height: 100%;
                z-index: 1;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                opacity: 0;
                transition: all 0.3s;
            }

            &__title {
                font-size: 4rem;
                color: #fff;
                margin-bottom: 2.6rem;
            }

        }
    }
}