@use '../../sass/helpers/variables' as vars;


.kd-contact-block {
    &__container {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: stretch;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%;
        padding: 2.7rem 14rem 3.8rem vars.$sidePadding;

        @media (max-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding: 5.6rem 7.2rem 4rem 7.2rem;
        }
    }

    &__title {
        font-size: 6.4rem;
        color: #111;
        font-weight: 700;
        line-height: 1.27;
        margin-bottom: 4.5rem;

        @media (max-width: 768px) {
            text-align: center;
            font-size: 2.6rem;
        }
    }

    &__form {
        &.loading {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 20rem;
                left: 50%;
                transform: translateX(-50%);
                width: 20rem;
                height: 20rem;
                background: url("../../assets/images/api-loader.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 104;
                -webkit-animation: rotate-scale-down 1s linear infinite both;
                animation: rotate-scale-down 1s linear infinite both;

                @media (max-width: 768px) {
                    top: 15rem;
                    left: 8rem;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.8);
                z-index: 2;
            }
        }

        &-group {
            margin-bottom: 6rem;

            @media (max-width: 768px) {
                margin-bottom: 5rem;
            }

            label {
                display: block;
                font-size: 2.8rem;
                line-height: 1.25;
                margin-bottom: 1.2rem;
                font-weight: 500;
                color: #111;

                @media (max-width: 768px) {
                    text-align: center;
                    font-size: 1.8rem;
                    margin-bottom: 1.7rem;
                }
            }

            input {
                // Just bottom border
                border: none;
                border-bottom: 2px solid vars.$red;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                width: 100%;
                max-width: 28.6rem;
                font-family: vars.$spaceG;

                @media (max-width: 768px) {
                    max-width: 100%;
                }


                &.error {
                    background: rgba(237, 50, 55, 0.1);
                }
            }

            .input-error-message {
                color: vars.$red;
                font-size: 1.6rem;
                font-weight: 500;
                margin-top: 0.8rem;
            }

            textarea {
                border: none;
                border-bottom: 2px solid vars.$red;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                width: 100%;
                padding: 1.2rem 1.4rem;
                min-height: 8.4rem;
                font-family: vars.$spaceG;


                &.error {
                    background: rgba(237, 50, 55, 0.1);
                }
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            justify-content: flex-start;

            @media (max-width: 768px) {
                justify-content: center;
                flex-direction: column;
            }
        }

        .kd-contact-block__form__response {
            font-size: 1.8rem;
            font-weight: 500;
            color: #111;
            text-align: center;
            flex: 0 0 calc(100% - 20rem);
            width: calc(100% - 20rem);
            padding-left: 5rem;

            @media (max-width: 768px) {
                padding-left: 0;
                flex: 0 0 100%;
                width: 100%;
                margin-top: 2rem;
            }

            &.error-message {
                color: vars.$red;
            }

            &.success-message {
                color: vars.$green;
            }
        }
    }

    &__map {
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
        height: inherit;

        @media (max-width: 768px) {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            height: 48.2rem;
            min-height: 48.2rem;
        }

        #map {
            width: 100%;
            height: 100%;

            @media (max-width: 768px) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                height: 48.2rem;
                min-height: 48.2rem;
            }
        }
    }

    .mapboxgl-marker {
        svg {
            path {
                fill: vars.$red;
            }
        }
    }

    &.contact-page {


        .kd-contact-block__title {

            position: relative;
            width: fit-content;

            &::after {
                content: "";
                position: absolute;
                bottom: -0.9rem;
                left: 0;
                width: 90%;
                height: 0.6rem;
                background: vars.$red;
                border-radius: 8px;

                &::before {
                    height: 0.3rem;
                }
            }

            @media (max-width: 768px) {
                text-align: left;
                font-weight: 700;
                line-height: 1.28;
                position: relative;
                width: fit-content;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -.9rem;
                    left: 0;
                    background: vars.$red;
                    border-radius: 8px;
                    height: 3px;
                    width: 80%;
                }
            }
        }

        .kd-contact-block__content {
            @media (max-width: 768px) {
                padding-left: 1.6rem;
                padding-right: 1.6rem;
            }
        }

        .kd-contact-block__submit {
            @media (max-width: 768px) {
                margin-left: auto;
            }
        }
    }
}