@use '../../sass/helpers/variables' as vars;

.kd-hero-block {
    position: relative;

    &__slide {
        background: var(--bg-image);
        background-size: cover;
        background-position: center;
        padding: 15.2rem vars.$sidePadding;

        &__content {
            max-width: 70rem;

            &__title {
                font-size: 7.8rem;
                margin-bottom: 8rem;
                color: #000;
                line-height: 1.03;
            }
        }
    }

    &__pagination {
        text-align: center;
        transform: translateY(-3.5rem);
        z-index: 1;
        position: absolute;

        .swiper-pagination-bullet {
            width: 1.2rem;
            height: 1.2rem;
            background: #CBCBCB;
            opacity: 1;
            transition: all 0.3s ease-in-out;

            &:not(:last-of-type) {
                margin-right: 1rem;
            }

            &-active {
                background: vars.$red;
            }
        }
    }
}