@use '../../sass/helpers/variables' as vars;


.kd-promotions-block {
    &__promotion {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-around;

        &.odd {
            flex-direction: row-reverse;
        }

        &.even {
            .kd-promotions-block__promotion__content__validity {
                right: auto;
                left: 2rem;

                @media (max-width:768px) {
                    left: 1rem;
                }
            }
        }

        &__image,
        &__content {
            flex: 0 0 50%;
            max-width: 50%;
            width: 50%;
        }

        &__content {
            position: relative;
            padding: 6rem 14rem;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            flex-wrap: wrap;

            @media (max-width:768px) {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }

            &__title {
                font-size: 5rem;
                line-height: 1.28;
                margin-bottom: 8rem;
                text-align: center;

                @media (max-width:768px) {
                    font-size: 1.6rem;
                    margin-bottom: 2rem;
                }
            }

            &__validity {
                position: absolute;
                top: 2rem;
                right: 2rem;
                font-size: 1.6rem;
                color: #fff;

                @media (max-width:768px) {
                    font-size: 1.2rem;
                    top: 1rem;
                    right: 1rem;
                }

                &::before {
                    content: "*";
                    color: vars.$red;
                }
            }
        }
    }
}