.button {
    padding: 1.4rem 5.7rem;
    @include borderRadius(8px);
    font-size: 2.6rem;
    line-height: 1.269230769;
    font-weight: 500;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;

    &--primary {
        background: $red;
        color: #fff;
    }

    &--just-text {
        padding: 0 0;
    }
}